body{
    background-color: aliceblue;
}

.container{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 20px;

}

.fa-ellipsis{
    margin-left: 280px;
    margin-top: 15px;
    font-size: 25px;
}


/* row */

.row{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 30%;
    height: 92vh;
}

 /* img */
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 300px;  */
    /* margin-bottom: 0px; */
}
    
    .img img {
        /* max-width: 30%;  */
        /* max-height: 30%; */
        border-radius: 80%; 
        height: 20vh;
        width: 35%;
        margin-top: 30px;
    } 

     /* img-name*/

    .img-name {
        text-align: center;
    }


     /* Card-body */

    .card-body {
        display: flex;
        flex-direction: column;
        position: relative;
        line-height: 20px;
    }

    .card-title{
        position: absolute;
        left: 30px;
        margin-top: 0px;
        color: gray;
        
    }

    .card-text{
        position: absolute;
        right: 30px;
        margin-top: 0px;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }


    .Gender,
    .Phone,
    .Email,
    .Address {
        margin-bottom: 15px;
        padding: 6px;
    }

    .card-body hr{
        border: 1px rgb(210, 198, 198) solid;
        width: 90%;
    }

     /* card-body ends here*/


    /* button */

    .button {
        margin-top: 50px;
        text-align: center;
    }

    .btn-btn:hover{
        background-color: rgb(230, 213, 213);
        color: rgb(141, 110, 110);
        cursor: pointer;
    
    }



    .btn-btn{
        border-radius: 20px;
        padding: 7px;
        width: 30%;
        background-color: transparent;
        border-color: purple;
        color: purple;
    }

     /* row styling ends here* /

    

    /* row1 */

.row1{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 30%;
    height: 92vh;
}

 /* row2 */

.row2{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 30%;
    height: 92vh;
}

/* Down-container styling starts here */

.Down-container{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 20px;

}

.down{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 30%;
    height: 92vh;
}

.down1{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 30%;
    height: 92vh;
}

.down2{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 30%;
    height: 92vh;
}

/* Mobile responsive from screen to max-width of 1040px starts here */

@media screen and (max-width:1040px) {
    .container{
        display: flex;
        /* justify-content: space-between; */
        justify-content: center;
        gap: 5px;
    
    }

    .fa-ellipsis{
        margin-left: 250px;
        margin-top: 15px;
        font-size: 25px;
    }

    /* row */

 .row{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 32%;
    height: 97vh;
 }

 .row1{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 32%;
    height: 97vh;
 }
    


.row2{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 32%;
    height: 97vh;
 }

 .btn-btn{
    border-radius: 20px;
    padding: 5px;
    width: 55%;
    background-color: transparent;
    border-color: purple;
    color: purple;
 }

/* Down-container styling starts here */

 .Down-container{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 5px;

 }

 .down{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 32%;
    height: 97vh;
 }

 .down1{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 32%;
    height: 97vh;
 }

 .down2{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 32%;
    height: 97vh;
 }




}






/* Mobile responsive from min 860px to max-width of 900px starts here */

@media (min-width:860px) and (max-width:900px) {
    .container{
        display: flex;
        /* justify-content: space-between; */
        justify-content: center;
        gap: 5px;
    
    }

    .fa-ellipsis{
        margin-left: 220px;
        margin-top: 15px;
        font-size: 25px;
    }

    /* row */

 .row{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 32%;
    height: 97vh;
 }

 .row1{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 32%;
    height: 97vh;
 }
    


 .row2{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 32%;
    height: 97vh;
 }

 .btn-btn{
    border-radius: 20px;
    padding: 5px;
    width: 55%;
    background-color: transparent;
    border-color: purple;
    color: purple;
 }

 /* Down-container styling starts here */

 .Down-container{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 5px;

 }

 .down{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 32%;
    height: 97vh;
 }

 .down1{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 32%;
    height: 97vh;
 }

 .down2{
    border: 5px whitesmoke solid;
    background-color:white;
    width: 32%;
    height: 97vh;
 }

}








    /* Mobile responsive from min 400px to max-width of 859px starts here */

    @media (min-width:400px) and (max-width:859px) {
        .container{
            display: block;
        }

        .fa-ellipsis{
            margin-left: 320px;
            margin-top: 15px;
            font-size: 25px;
        }



        /* row */

        .row{
          border: 5px whitesmoke solid;
          background-color:white;
          width: 90%;
          height: 98vh;
          margin: auto;
       }

     .row1{
         border: 5px whitesmoke solid;
         background-color:white;
         width: 90%;
         height: 98vh;
         margin: auto;
        }

        .row2{
            border: 5px whitesmoke solid;
            background-color:white;
            width: 90%;
            height: 98vh;
            margin: auto;
         }



      /* Down-container styling starts here */

     .Down-container{
      display: block;
      
     }

     .down{
        border: 5px whitesmoke solid;
        background-color:white;
        width: 90%;
        height: 98vh;
        margin: auto;
    }

     .down1{
        border: 5px whitesmoke solid;
        background-color:white;
        width: 90%;
        height: 98vh;
        margin: auto;
     }

     .down2{
        border: 5px whitesmoke solid;
        background-color:white;
        width: 90%;
        height: 98vh;
        margin: auto;
     }

    









    }