body{
    background-color: rgb(224, 200, 200);
    margin: 0;
    padding: 0;
}

.container-form{
    
    background-color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 30px;

}

.form-main h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
    color: rgb(34, 83, 99);
}


input[type="text"]{
    display: block;
    width: 70%;
    margin-left: 100px;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 4px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    transition: 0.2s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

input[type="value"]{
    display: block;
    width: 70%;
    margin-left: 100px;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 4px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    transition: 0.2s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;

}

input[type="submit"]{
    /* margin-bottom: 40px; */
    width: 30%;
    height: 40px;
    background-color: rgb(34, 83, 99);;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    margin-left: 40%;
    margin-right: 40%;
    cursor: pointer;


}

.gender-age{
    display: flex;
}


label{
    color: rgb(34, 83, 99);;
    margin-left: 16%;
}
.age-label{
    margin-left: 41%;
}
.gender-label{
    margin-left: 39%;
}

.age-form{
    margin-right: -px;

}
.submit-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="submit"]:hover{
    transition: 0.5s ease-in;
    background-color: #fff;
    color: rgb(34, 83, 99);;
}
.divider{
    display: flex;
    align-items: center;
  

}

.divider::before, .divider::after{
    content: "";
    padding: 1px;
    background-color: rgb(34, 83, 99);;
    flex: 1;
    margin: 25px 60px;
    
}

.google{
    width: 33px;

}



.social-media{
    display: flex;
    justify-content: center;
    align-items: center;

}


.foot{
    display: flex;
    justify-content:center ;
}

.foot p{
    text-align: center;
    
}

.Signup-button{
   
  
   color: rgb(34, 83, 99);
   cursor: pointer;
   
}
.asterisk{
    font-size: 5px;
    color: red;
    position: absolute;
}
.apple-icon{
    color: white;
    font-size: 22px;
    background-color: rgb(47, 137, 254);
    padding: 1px 2px;
    border-radius: 50%;
}
.facebook-icon{
    font-size: 25px;
    margin: 0 30px;
    color: rgb(47, 137, 254);
}


