
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}


/* LOGO DESIGN STARTS HERE */

.logo img{
    width: 50%;
    padding: 10px 0px;
    border-radius: 50%;
    padding-left: 60px;
}

.logo{
    overflow: hidden;

}

/* MEN BAR DESIGN STARTS HERE */

.menu-bar{
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0c012f;
    height: 100vh;
    width: 55px;
    padding: 0 20px;
    transition: all 0.5s;
}


ul{
    height: 70vh;
    position: relative;

}

ul li a{
    color: white;
    display: flex;
    gap: 20px;

}

ul li{
    padding: 15px;
    margin: 8px 0;
}

ul i{
    font-size: 20px;

}

ul li:hover{
    background-color: rgb(172, 83, 83);
    border-radius: 5px;
    
}

ul a span{
    overflow: hidden;
}

.Sign-out{
    margin-top: 40px;
    background-color: red ;
    border-radius: 10px;

}

.menu-bar:hover{
    width: 20%;
    transition: 0.8s;
}



/* HERE STARTS THE BODY & CONTENT DESIGN */

body{
    display: flex;
  
}

.content-main{
    background-image: url(/image/background\ image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}


/* HERE STARTS HEADER STYLE FOR CSS, HEADER includes 
profile,search bar and welcome note */

.header-main{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px 20px;    
    align-items: center;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 5px 10px 10px 5px grey;
}

.profile-image img{
    width: 40px;
    border-radius: 50%;
    box-shadow: 2px 3px 8px grey;
    
}

.header-title h1{
    color: #0c012f;
    font-size: 20px;

}

.header-title p{
    color: #0c012f;
    font-size: 15px;
    letter-spacing: 4px;
    display: block;
    padding: 8px 0px;
}

/* 
Profile and image design starts here */

.profile-info{
    display: flex;
    align-items: center;
    gap: 120px;
}

.search-box input{
    padding: 4px;
    background-color: transparent;
    outline: none;
    border: 1px solid grey;
    border-radius: 8px;

}


.search-box button{
    padding: 5px 10px;
    position: absolute;
    right: 16%;
    background-color: #0c012f;
    color: white;
    border-radius:5px;
    border: none;

}

.search-box button:hover{
    transform: scale(1.1);
}


/* DESIGN FOR CARD STARTS HERE */

.card-container{
    background-color: white;
    padding: 5px 20px;    
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; 
    border-radius: 8px;   
    box-shadow: 5px 10px 10px 5px grey;
}

.card-container{
    color: #0c012f;
    padding-bottom: 10px;
}

.card-container h1{
    padding-bottom: 5px;
}


.card-flex{
    display: flex;
    gap: 3rem;
}

.card-student{
    background: rgb(3, 39, 47, 0.566);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 23.25%;
    height: 15vh;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 2px 1px grey;
    
}

.card-student:hover{
    transform: translate(-5px);
    cursor: pointer;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.passcode-info{
    display: flex;
    flex-direction: column;
}

span{
    font-size: 15px;
}

.icon i{
    font-size: 23px;
    color: white;
    background-color: #0c012f;
    border-radius: 50%;
    padding: 10px;
}

.card-flex > .card-student:nth-child(1){
    background: #fcdcd5;
    background: -webkit-linear-gradient(79deg, #fcdcd5 0%, #f9a795 100%);
    background: linear-gradient(79deg, #fcdcd5 0%, #f9a795 100%);
}

.first i{
    background-color: rgb(90, 7, 76);
}


.card-flex > .card-student:nth-child(2){
    background: #fcfcd6;
    background: -webkit-linear-gradient(79deg, #fcfcd6 0%, #fbfb8e 100%);
    background: linear-gradient(79deg, #fcfcd6 0%, #fbfb8e 100%);
    }

.second i{
    background-color: rgb(58, 58, 2);
}


.card-flex > .card-student:nth-child(3){
    background: #d6f1fc;
background: -webkit-linear-gradient(79deg, #d6f1fc 0%, #81d8fa 100%);
background: linear-gradient(79deg, #d6f1fc 0%, #81d8fa 100%);
}

.third i{
    background-color: rgb(2, 43, 56);
    
}


.card-flex > .card-student:nth-child(4){
    background-color: #d6d7f9;
    background: -webkit-linear-gradient(79deg, #d6d7f9 0%, #d7a1f6 100%);
    background: linear-gradient(79deg, #d6d7f9 0%, #d7a1f6 100%);
}

.fourth i{
    background-color: rgb(22, 0, 58);
}






/* ASSIGNMENT CONTAINER STARTS HERE */


.assignment-container{
    background-color: white;
    padding: 5px 20px;    
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; 
    border-radius: 8px;   
    box-shadow: 5px 10px 10px 5px grey;
    padding-bottom: 10px;
}

.top-img img{
    width: 45px;
    border-radius: 50%;
}

.assignment-flex{
    display: flex;
    gap: 15px;
}

.assignment-container h1{
    padding-bottom: 5px;
    color: #0c012f;
}

.assignment-subject{
    flex: 2;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 3px 10px 0 rgb(187, 183, 183);
    height: 70px;
    border-radius: 8px;
    align-items: center;
    border-left: 3px solid #a793e7;
}

.courses h3{
    font-size: 15px;
    color: #0c012f;
    font-weight: bold;
}

.topic{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

.btn{
    background-color: #c2bfcc;
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #0c012f;
}

.top-performer{
    flex: 1;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 3px 10px 0 rgb(187, 183, 183);
    height: 70px;
    border-radius: 8px;
    align-items: center;
    border-left: 3px solid #b1992e;
}

.number span{
    background-color: #cfc19a;
    border-radius: 50%;
    padding: 1px 6px;
    border: 2px solid #573f03;
    font-size: 13px;
    font-weight: bold; 
    color: #573f03;   
}

.top-img img{
    border: 2px solid #573f03;
}

.name span{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

.name h3{
    font-size: 15px;
    color: #0c012f;
}




/* DESING FOR MY progress STARTS HERE */

.MYprogress-container{
    background-color: white;
    padding: 5px 20px;    
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; 
    border-radius: 8px;   
    box-shadow: 5px 10px 10px 5px grey;
    padding-bottom: 10px;
    color: #0c012f;
    
}

.course-flex{
    display: flex;
    justify-content: space-between;
}

.MYprogress-container h1{
    padding-bottom: 5px;
}



.course-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px  grey;
   
    
}

.percentage h3{
    padding-bottom: 5px;

}

.percentage p{
    font-size: 15px;
    font-weight: bold;

}

.percentage span.red{
    color: red;
}

.percentage span.green{
    color: green;
}

.percentage span{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;

}


.course-icon i{
    background-color: grey;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;

}


.course-flex > .course-header:nth-child(1){
    background: #f5fdf1;
    background: -webkit-linear-gradient(79deg, #f5fdf1 0%, #d2fdb3 100%);
    background: linear-gradient(79deg, #f5fdf1 0%, #d2fdb3 100%);
}

.graph i{
    background-color: rgb(50, 116, 41);
    color: rgb(207, 250, 201);
}


.course-flex > .course-header:nth-child(2){
    background: #f3f0fc;
    background: -webkit-linear-gradient(79deg, #f3f0fc 0%, #f4d3e4 100%);
    background: linear-gradient(79deg, #f3f0fc 0%, #f4d3e4 100%);;
}

.note i{
    background-color: rgb(28, 7, 58);
    color: rgb(212, 184, 252);
}


.course-flex > .course-header:nth-child(3){
    background: #f4d7c8;
background: -webkit-linear-gradient(79deg, #f4d7c8 0%, #faafc9 100%);
background: linear-gradient(79deg, #f4d7c8 0%, #faafc9 100%);
}

.box i{
    background-color: rgb(142, 21, 158);
    color: white;
    
}




/* MY COURSE DESIGN STARTS HERE */

.mycourse-container{
    background-color: white;
    padding: 5px 20px;    
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; 
    border-radius: 8px;   
    box-shadow: 5px 10px 10px 5px grey;
    padding-bottom: 10px;
    color: #0c012f;
}

.mycourse-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image img{
    background-color: #BAB0F4;
    height: 20vh;
    border-radius: 10px;
    padding: 0px 80px;
}

img.blue{
    background-color: #BBB2F5;
    
}

img.pink{
    background-color: #FFD08C;
    
}

img.green{
    background-color: #F696C4;
    
}



.mycourse-flex{
    display: flex;
    justify-content: space-around;
    
}


.course-main{
    border-radius: 10px;
    padding: 12px 14px;
    background-color: rgb(245, 241, 241);
    transition: all ease-in-out 0.3s;
}

.course-main:hover{
    box-shadow: 2px 1px 5px 2px lightgrey;
}

.course-main .learn p{
    margin-top: 20px;
    font-size: 16px;
}

.progress-container{
    margin-top: 10px;
    
}

.course-main .mybtn{
    text-align: center;
    margin-top: 20px;

     
}

.course-main button{
    background-color: #FFD08C;
    border-radius: 8px;
    padding: 6px 100px;
    border: none;
    transition: all ease-in-out 0.3s;   
    font-size: 16px;
} 

.course-main .mybtnn:hover {
    background-color: #df9331;
   }




   /* MEDIA RESPOSIVENESS */

@media screen and (max-width:1027px) {



    
}


@media (min-width:400px) and (max-width:1000px) {

    h1{
        font-size: 15px;
    }


    .logo img{
        width: 6vh;
        border-radius: 50%;
        padding-left: 0.1px;
        height: 3vh;
        
    }
    
    .logo{
        overflow: visible;
    
    }


        /* MEN BAR DESIGN STARTS HERE */

    .menu-bar{
        height: 100vh;
        width: 5%;
        padding: 0 15px;
        transition: all 0.5s;
        
    }

    ul li{
        padding: 5px;
       
    }

    ul i{
        font-size: 18px;

    }

  
/* HERE STARTS HEADER STYLE FOR CSS, HEADER includes 
profile,search bar and welcome note */

    .header-main{
        justify-content: start;
        background-color: white;
        padding: 4px 20px;    
        
    }

    .header-title h1{
        font-size: 15px;
    
    }
    
    .header-title p{
        font-size: 12px;
        letter-spacing: 2px;
        padding: 2px 0px;
    }
    
    /* 
    Profile and image design starts here */
    
    .profile-image img{
        position: relative;
        right: 35px;

    }  

    .profile-info{
        gap: 0px;
    }
    
    .search-box input{
        padding: 0px;
        width: 50%;
        margin-left: 90px;
    }
    
    
    .search-box button{
        padding: 0.5px 5px;
        position: absolute;
        right: 26%;
    
    }
  


    /* DESIGN FOR CARD STARTS HERE */

    .card-flex{
        gap: 0.5rem;
    }

    .card-student{
        width: 17.5%;

    }

    span{
        font-size: 12.5px;
    }

    .icon i{
        font-size: 15px;
        padding: 5px;
        
    }


    /* ASSIGNMENT CONTAINER STARTS HERE */


    .assignment-flex{
        gap: 1rem;
        width: 90%;
    }

    .assignment-subject{
        display: block;
        height: 130px;
        text-align: center;
        
    }

    .courses h3{
        font-size: 13px;
       
    }

    .topic{
        font-size: 11px;
        
    }

    .btn{
        
        padding: 5px 10px;
    }

    .top-performer{
        flex: 2;
        display: block;
        height: 130px;
        text-align: center;
    }

    

    .number span{
        position: absolute;
        left: 49%;  
    }

    .top-img img{
        width: 35px;
    }

    .name span{
        font-size: 12px;
        
    }

    .name h3{
        font-size: 13px;
        
    }


        /* DESING FOR MY progress STARTS HERE */

   
    .course-flex{      
        justify-content: left;
        gap: 8px;
    }

    .course-header{
        gap: 1.3rem;
        padding: 3px 8px;
        
    }

    .percentage h3{
        padding-bottom: 5px;
        font-size: 14px;

    }

    .percentage p{
        font-size: 12px;

    }

    .percentage span{
        font-size: 10px;

    }

    .course-icon i{
        font-size: 15px;
        padding: 7px;

    }








    


}








