body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}


th, td {
    padding: 15px;
    text-align: left;
    
}

th {
   
    width: 180px;
    
}

th span{
    color: #5d5c5b;
    font-size: 20px;
    padding-right: 8px;
}

.second-table-first{
    
    background-color: rgb(245, 247, 249);
    color: #9faaa0;
    font-size: 14px;
    
}

.second-table-first th{
    border-collapse: collapse;
}

.recent-caption{
padding: 10px;
font-size: 20px;
font-weight: bold;
position: relative;
display: flex;
justify-content: space-around;
align-items: center;



}

.recent-caption span{
    position: absolute;
    left: 750px;
    
}



  
/* .second-table-items{
    padding: 100px;
} */

.second-table-items td{
    color:#9faaa0;
    font-size: 14px;
}



/* here is top perfomance numbering */





.second-table input:hover {
    background-color: #45a049;
}

.top-perform-table {
    margin-top: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}

.assignments{
    display: flex;
    color: #9faaa0;
    font-size: 13px;
    padding: 5px 20px;
}




.top-right{
    float: right; 
    width: 25.7%;
    margin-top: -330px;
    margin-right: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
    

}

.top-right img{
    border: 2px solid rgb(122, 33, 33);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    
}

.top-right tr:nth-child(odd) {
    background-color: #f2f2f2;
}


.recent-container{
    width: 57%;
    margin-top: 40px;
    margin-left: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    padding-top: 20px;
    background-color: white;
    
}

.Recent-courses-table{
    width: 95%;
    margin: auto;
    position: relative;
    
}


.Recent-courses-table td{
font-weight: bold;

}

.my-cases{
    position: relative;
    right: -300px;
}


/* second */
.second-table input:hover {
    background-color: #45a049;
}

.caption-top{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin-left: -280px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    
    
    
    }


    .caption-top span{
        position: absolute;
        left: 570px;
        
    }


   


